---
import "@styles/global.css";
import { Image } from "astro:assets";

interface Props {
    name: string;
    img: {
        src: ImageMetadata | string;
        alt: string;
        caption?: string;
        [attr: string]: any;
    };
    attribution?: string;
}

const { name, img, attribution } = Astro.props;
const { src: imgSrc, alt: imgAlt, caption: imgCaption, ...attrs } = img;
---

<article>
    <div>
        <h2>
            {name}
        </h2>
        <slot />
        {attribution && <p class="attribution" set:html={attribution} />}
    </div>

    <div id="img-container">
        {
            typeof img.src === "string" ? (
                <img id="main-img" src={img.src} alt={img.alt} {...attrs} />
            ) : (
                <Image id="main-img" src={img.src} alt={img.alt} {...attrs} />
            )
        }
        {imgCaption && <p class="img-caption">{imgCaption}</p>}
    </div>
</article>

<style>
    article {
        padding: 1.5em;

        outline: 2px solid #555;
        border-radius: 0.6rem;
        background-color: var(--card-bg-color);

        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }

    #img-container {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 636px) {
        #img-container {
            max-width: 80%;
        }
    }

    #main-img {
        border-radius: 5px;
        max-width: 100%;
        height: auto;
        max-height: 600px;
        object-fit: contain;
    }

    h2 {
        margin-top: 0;
        display: flex;
        align-items: center;
        column-gap: 0.3em;
    }
</style>
